body {
  background-color: #eeeff1;
}

/* css for the navbar */

.navbar {
  padding: 20px;
  z-index: 1;
}

.nav-link {
  margin-right: 15px;
}

.navbar-brand {
  color: #1a1b1f;
  padding-left: 5px;
}

/*css for the images on the bottom */
.hover02 figure img {
  margin: 5px;
  margin-left: 60px;
	width: 100px;
  float: left;
	height: auto;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover02 figure:hover img {
	width: 110px;
}

.heading-big {
  margin-top: 50px;
  margin-bottom: 10px;
  color: #1a1c20;
  font-size: 85px;
  line-height: 90px;
  font-weight: 500;
  position: relative;
}
.text-gray {
  margin-top: 25px;
  line-height: 46px;
  font-size: 26px;
  color: #62646d;
  position: relative;
}

.text-medium {
  color: #000;
  font-size: 20px;
  font-weight: 300;
  margin-right: 50px;
}

#text-one {
  margin-left: 50px;
  margin-bottom: 50px;
}

#intro-row {
      margin-top: 110px;
      margin-bottom: 140px;
      margin-left: 50px;
  }

  #copyright {
    color: #8f929e;
    line-height: 157px;
    

}

@media(max-width:767px) {
  .programming-pic {
      display: none;
  }
}

.programming-pic {
  border-radius: 15px;
}



